.idea
target
node_modules
.target
.vagrant*
*.log
*.lock
yamllint-*

# terraform
.terraform
.terraform.lock*
tfplan
.bitwarden*

# secrets
*.token
*.pass
*.user
*.secret

# semver
src/main/app/semver
src/main/app/go-code-coverage.out
